<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Tags</title>
</head>

<body>
  <h1>
    <%= data.title %>
  </h1>
  <p>Current second:
    <%= data.seconds %>
  </p>
  <% if (data.seconds % 2===0) { %>
  <ul>
    <li><%= data.items[0] %></li>
    
    <li><%= data.items[1] %></li>
    
    <li><%= data.items[2] %></li>
    
    
  </ul>
  <% } else { %>
  <p>No items to display</p>
  <% } %>
  <p>
    <%- data.htmlContent %>
  </p>

  <%-include("footer.ejs")%>
</body>

</html>